 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}:focus {outline: 0;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {-webkit-appearance: none;-moz-appearance: none;}input[type=search] {-webkit-appearance: none;-moz-appearance: none;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}textarea {overflow: auto;vertical-align: top;resize: vertical;}audio, canvas, video {display: inline-block;*display: inline;*zoom: 1;max-width: 100%;}audio:not([controls]) {display: none;height: 0;}[hidden] {display: none;}html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}a:focus {outline: thin dotted;}a:active, a:hover {outline: 0;}img {border: 0;-ms-interpolation-mode: bicubic;}figure {margin: 0;}form {margin: 0;}fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}legend {border: 0;padding: 0;white-space: normal;*margin-left: -7px;}button, input, select, textarea {font-size: 100%;margin: 0;vertical-align: baseline;*vertical-align: middle;}button, input {line-height: normal;}button, select {text-transform: none;}button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button;cursor: pointer;*overflow: visible;}button[disabled], html input[disabled] {cursor: default;}input[type="checkbox"], input[type="radio"] {box-sizing: border-box;padding: 0;*height: 13px;*width: 13px;}input[type="search"] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}textarea {overflow: auto;vertical-align: top;}table {border-collapse: collapse;border-spacing: 0;}html, button, input, select, textarea {color: #222;}::-moz-selection {background: #b3d4fc;text-shadow: none;}::selection {background: #b3d4fc;text-shadow: none;}img {vertical-align: middle;}fieldset {border: 0;margin: 0;padding: 0;}textarea {resize: vertical;}.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v23-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v23-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v23-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v23-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v23-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }

 html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
  font-family: 'Lato';
  font-style: normal;
}

a {
  outline:none !important;
  }

  .header {
    position: fixed;
    width: 100%;
  }

.header_wrapper {
  max-width: 1060px;
  margin: auto;
  }

.header_nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 20px 0;
}

.header_nav-titles {
  display: flex;
  flex-wrap: wrap;
}

.header_nav-links {
  padding-right: 82px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.header_nav-links:last-child {
  padding-right: 0;
}

.header_nav-link {
  text-decoration: none;
  color: white;
  outline: none;
}
.header_nav-link:focus, .header_nav-link:active, .header_nav-link:hover {
  opacity: 0.75;
}

.intro {
  background: url(../img/intro-bg-min.jpg) no-repeat center; 
  min-height: 100vh;
  max-height: 962px;
  background-size: cover;
}

.intro_title {
  padding: 263px 0 22px 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  max-width: 619px;
}

.intro_text {
  max-width: 546px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 60px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  min-width: 665px;
  margin-bottom: 153px;
}


.search_form-input {
  border: 0;
  background: transparent url(../img/svg/circle-icon.svg) no-repeat 0px 9px;
  height: 56px;
  padding-bottom: 10px;
  border-bottom: 2px solid #BFC0C5;
  color: white;
  width: 297px;
  font-family: 'Lato';
  font-style: normal;
  margin-right: 60px;
  padding-left: 44px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}


.search_form-input::placeholder {
  color: #fff;
}

.search_form-submit {
  color: white;
  background-color: #1B7DFF;
  border: none;
  padding: 15px 40px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.wrapper {
  max-width: 1262px;
  margin: auto;
  position: relative;
}
.benefits{
  padding-bottom: 131px;
}
.benefits_title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: absolute;
  padding: 93px 100px 88px 99px;
  transform: translateY(-100%);
  background: white;
}


.benefits_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 56px;
  padding: 32px 100px 112px 100px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}
.benefits_img {
  padding-bottom: 37px;
}
.benefits_card-title {
  padding-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.benefits_card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 39px;
}
.benefits_card-link{
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  padding-right: 59px;
  background: url(../img/svg/arrow.svg) no-repeat 95% center; 
  transition: 0.2s linear;
}
.benefits_card-link:hover, .benefits_card-link:focus {
  background: url(../img/svg/arrow.svg) no-repeat right center;
}
.benefits_card-link:active{
  background: url(../img/svg/arrow.svg) no-repeat 95% center;
}

.places_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 36px;
}

.places_title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}
.places_title::after{
  display: block;
  position: absolute;
  content: '';
  width: 253px;
  height: 3px;
  background: #006DFE;
  left: 0;
  bottom: 0;

}

.places_header_more {
  text-decoration: none;
  color: #006DFE;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-right: 56px;
  background: url(../img/svg/arrow.svg) no-repeat center right;
}

.places {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding-bottom: 131px;
}

.places_card{
  position: relative;
  overflow: hidden;
}
.places_card::after{
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  z-index: 2;
}
.places_card:hover .places_card-img{
  transform: scale(1.05);
}

.card-row-1 {
  grid-column: span 3;
}
.card-row-2 {
  grid-column: span 2;
}
.places_card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(21, 24, 36, 0.4);
}

.places_card-text{
  position: absolute;
  transform: translateY(-100%);
  padding: 0 0 27px 29px;
  color: white;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  z-index: 3;
}

.places_card-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.add_places1{
  display: flex;
}
.add_places-1-row{
  padding-bottom: 77px;
}
.add_place1-thumb{
  width: 100%;
  max-width: 597px;
  height: auto;
  max-height: 354px;
}
.add_places-card{
  padding: 26px 47px 0 108px;
}

.add_places-card-2{
  padding: 26px 108px 0 47px;
}

.add_places-title{
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 85px;
}

.add_places-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 58px;
}

.add_places-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrow.svg) no-repeat 95% center;
  padding-right: 56px;
  transition: 0.2s all;
}

.add_places-link:hover, .add_places-link:active, .add_places-link:focus {
  background: url(../img/svg/arrow.svg) no-repeat right center;
}

